<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>About Me</h1>
    <p>Welcome to my portfolio website!</p>
    <!-- Add your content here -->

    
    <p>Download my resume: <a href="../public/pdfs/Idris Mustapha Resume.pdf" download>Resume PDF</a></p>

</body>
</html>
