
<%- include('partials/navbar') %>

<!-- views/contact.ejs -->
<form action="/contact" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <label for="Email">Email:</label>
    <input type="text" id="email" name="email" required>
    <label for="message">Message:</label>
    <input type="text" id="message" name="message" required>

    <!-- Add other form fields (Last Name, Contact Number, Email, Message, etc.) here -->

    <button type="submit">Send Message</button>
</form>
